@charset "utf-8";
html{
    margin:0;
}
.main-nav ul{
    display:flex;
	list-style: none;
	font-size:1.25rem;
    text-decoration: none;
	margin-top: 80px;
    background-color: rgb(175, 163, 152);
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}
.main-nav li{
    padding: 1% 6%;
    margin:auto;
}
.main-nav a:hover{
    color: aliceblue;
    text-shadow: 4px 4px 4px #4a4a4a;
}
header{
    background-image: url(../main-image.jpg);
    height: 140px;
    background-size:100%;
    background-position: left ;
}
.main-logo{
    text-align: center;
    text-decoration: none;
}
.main-logo a{
    color: rgb(7, 9, 77);
    text-decoration: none;
}
body{
    margin:0;
}
.main-nav a{
    text-decoration: none;
    color: rgb(9, 14, 107);
}
