/*---���ʕ���---*/
@charset "utf-8";
html{
    margin:0;
}
.main-nav ul{
    display:flex;
	list-style: none;
	font-size:1.5rem;
    text-decoration: none;
	margin-top: 5rem;
    background-color: rgb(175, 163, 152);
    padding-top: 0;
    padding-bottom: 0;
    background-image: url(../cloth.jpg);
}
.wlcm-cafe{
    padding-top: 3.25rem;
    text-align: center;
}
.main-nav li{
    padding: 0.5rem 4rem;
    margin:auto;
}


.main-nav a:hover{
    color: rgb(50, 67, 82);
}
.main-nav{
    color: #4a4a4a;
}


header{
    background-image: url(../main-image.jpg);
    height: 140px;
    background-size:100%;
    background-position: left ;
}


body{
    margin:0;
}


li .main-nav .hover{
    display: none;
}
li .main-nav:hover .hover{
    display: inline;
}
li .main-nav:hover .normal{
    display: none;
}


li .main-nav .normal{
    text-decoration: none;
}
li {
    width: 20rem;
    font-family: 'Hachi Maru Pop', cursive;
}



.main-nav-content{
    text-decoration: none;
    text-align: center;
}
.main-nav{
    text-decoration: none;
    text-align: center;
}


/*---�Ǝ�����---*/


.pizza-image{
    width: 500px;
    height: auto;
}


.bx-viewport{
    max-width: 40vw;
    height: auto;
}
.bx-wrapper{
    background-color: black;
}
img{
    width: 200px;
}



/* 
.boder{
    font-size:1.5rem;
    text-align:center;
    margin: 2em auto;
    padding: 1em;
    width: 50%;
    background-color: #94dada;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px 1px #c0c0c0;
    border-radius: 10px;
} */


/*
.boder2{

    padding-top: 2vw;
    font-size:1.5rem;
    text-align:center;
    margin: 2em auto;
    padding: 1em;
    width: 50%;
    background-color: #94dada; 
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px 1px #c0c0c0;
    border-radius: 10px;
}

.boder3{

    padding-top: 2vw;
    font-size:1.5rem;
    text-align:center;
    margin: 2em auto;
    padding: 1em;
    width: 50%; 
    background-color: #94dada; 
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px 1px #c0c0c0;
    border-radius: 10px;
}



.boder4{

    padding-top: 2vw;
    font-size:1.5rem;
    text-align:center;
    margin: 2em auto;
    padding: 1em;
    width: 50%; 
    background-color: #94dada;
    color: rgb(0, 0, 0); 
    box-shadow: 0 0 5px 1px #c0c0c0;
    border-radius: 10px;
}

/*
.subtitle{
    text-align:center;
    font-size:1.5rem;
}

.subtitle2{
    text-align:center;
    font-size:1.5rem;
}

.subtitle3{
    text-align:center;
    font-size:1.5rem;
}

.subtitle4{
    text-align:center;
    font-size:1.5rem;
}
.syohin{
    text-align:center;
    font-size:1.5rem;
}


.button{
    text-decoration: none;
    color: #c71585;
}
.button:hover {
    color:#001efd;
}

.mozi{
    font-weight:40%;
    color: #bd1818;
}

.mozi2{
    font-weight: 40%;
    color: #bd1818;
}


.mozi3{
    font-weight: 40%;
    color: rgb(223, 186, 20);
}

.mozi4{
    font-weight: 40%;
    color: rgb(44, 130, 43);
}

.mozi5{
    font-weight: 40%;
    color: rgb(229, 22, 22);
}
*/

article{
    margin-top:5rem;
}

.comm-box-title h1{
    font-size:2rem ;
}

.comm-box-out{
    text-align: center;
}

.comm-box-content{
    margin:2vw 5vw;
}

.button{
    text-decoration: none;
}

footer{
    background-color: #444444;
    height:10vh;
}
