
.form{
    border: solid #4a4a4a;
    background: #bababa;
}

.name-box{
    border: 1px solid #4a4a4a;
    border-radius: 0px;
    width: 40vw;
    background-color: rgb(221, 214, 204);
}
.contact-box{
    border: 1px solid #4a4a4a;
    border-radius: 0px;
    width: 80vw;
    height: 20vw;
    background-color: rgb(233, 233, 233);
}
.sbmitbutton{
    background-color: rgb(224, 224, 224);
    height:2em;
    padding-top: 0.25em;
    width:4rem;
    text-align: center;
    border-radius:2rem;
    border:solid 1.5px;
}
.main{
    margin-left: 10vw;
}


.name{
    font-size: 2rem;
}
.sex{
    font-size: 2rem;
}

footer{
    background-color: #444444;
    height:10vh;
}
