
.form{
    border: solid #4a4a4a;
    background: #bababa;
}

.name-box{
    border: 3px solid #4a4a4a;
    border-radius: 4px;
    width: 40vw;
    background-color: rgb(255, 255, 255);
}
.contact-box{
    border: 3px solid #4a4a4a;
    border-radius: 4px;
    width: 80vw;
    height: 20vw;
    background-color: rgb(255, 255, 255);
}
.sbmitbutton{
    background-color: rgb(205, 205, 205);
}
.main{
    margin-left: 10vw;
}


.name{
    font-size: 2rem;
}
.sex{
    font-size: 2rem;
}

footer{
    background-color: #444444;
    height:10vh;
}