/*---���ʕ���---*/
@charset "utf-8";
html{
    margin:0;
}

body{
    background-color: rgb(222, 231, 235);
    margin:0;
}
header{
    background-image: url(../main-image.jpg);
    height: 160px;
    background-size:100%;
    background-position: left ;
}
.main-nav ul{
    display:flex;
	list-style: none;
	font-size:1.5rem;
    text-decoration: none;
	margin-top: 0rem;
    background-color: rgb(175, 163, 152);
    padding-top: 0;
    padding-bottom: 0;
    background-image: url(../cloth.jpg);
    background-repeat:repeat-x;
}
.wlcm-cafe{
    padding-top: 3.25rem;
    text-align: center;
}


.main-nav{
    color: #ffffff;
}
.main-nav li{
    padding: 0.5rem 4rem;
    margin:auto;
}
.main-nav a:hover{
    color: #ffffff;
}


.main-logo{
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
    text-decoration: none;
}
.main-logo a{
    color: rgb(7, 9, 77);
    text-decoration: none;
}


.main-nav{
    text-decoration: none;
    text-align: center;
}
.main-nav-content{
    text-decoration: none;
    text-align: center;
}
li {
    width: 20rem;
    font-family: 'Hachi Maru Pop', cursive;
}
li .main-nav .hover{
    display: none;
}
li .main-nav .normal{
    text-decoration: none;
}
li .main-nav:hover .hover{
    display: inline;
}
li .main-nav:hover .normal{
    display: none;
}

.main-logo{
    width:100vw;
    height: auto;
    padding-top:0.25rem ;
}
.main-logo img{
    text-align: center;
    width:20vw;
    height: auto;
}


.pizza-image{
    width: 500px;
    height: auto;
}


.bx-wrapper{
    background-color: black;
    margin-top: 1rem;
}

.bx-viewport{
    max-width: 40vw;
    height: auto;
}
.slide-wrapper{
    width: 50VW;
}
.side-srider {
    width: 50vw;
    text-align:center;
}


.main-art{
    display: flex;
    font-family: 'Kaisei Opti', serif;
}
