@charset "utf-8";
html{
    margin:0;
}

body{
    background-color: rgb(222, 231, 235);
    margin:0;
}
header{
    background-image: url(../main-image.jpg);
    background-size:100%;
    background-position: left ;
}

.wlcm-cafe{
    padding-top: 3.25rem;
    text-align: center;
}




.main-logo{
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
    text-decoration: none;
}
.main-logo a{
    color: rgb(7, 9, 77);
    text-decoration: none;
}

li {
    width: 20rem;
    font-family: 'Hachi Maru Pop', cursive;
}


.main-logo{
    width:100vw;
    height: auto;
    padding-top:0.25rem ;
}
.main-logo img{
    text-align: center;
    width:20vw;
    height: auto;
}


.pizza-image{
    width: 500px;
    height: auto;
}

.slide-wrapper{
    width: 50VW;
    text-align: center;
}
.side-slider {
    width: 50vw;
    text-align:center;
}

#slide-content{
    width :48vw;
    height :36vw;
    object-fit: cover;
    object-fit:cover;
    border-radius: 1rem;
}
.diy-slide{
    width:50vw;
}

.main-art{
    display: flex;
    font-family: 'Kaisei Opti', serif;
    width:100vw;
}

footer{
    background-color: #444444;
    height:10vh;
}