@charset "utf-8";



.comm-box-out{
    border-radius:10px;
    border:solid;
    width:80vw;
    margin:1rem 10vw;
    border-width:0.25rem;
    background-color: #b3aea6;
}

.comm-box-title{
    text-align: center;
    border-bottom:dashed;
    border-width: 0.15rem;
    font-size:2.5rem;
    font-weight: 500;
    background-color: rgb(144, 162, 162);
    border-radius:10px 10px 0 0; 
}

.comm-box-content{
    font-size:1.5rem;
    font-weight: 100;
}