@charset "utf-8";
p,h1,h2,h3{
    font-family: 'M PLUS 2', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Yusei Magic', sans-serif;
}

body{
    background-color: rgb(186, 200, 206);
}